@import "./common.css";
@import "../ui/Breadcrumbs/Breadcrumbs.css";

.badge-list .badge {
  @apply mr-1;
}

.badge-list .badge:last-of-type {
  @apply mr-0;
}

.badge {
  @apply bg-gray-500;
  @apply font-semibold;
  @apply inline-block;
  @apply leading-none;
  @apply p-2;
  @apply rounded;
  @apply text-white;
  @apply text-xs;
  @apply uppercase;
}

.content-header {
  @apply mb-6;
}

.content-header__title {
  @apply font-bold;
  @apply text-4xl;
}

.content-header__subtitle {
  @apply text-xl;
  @apply text-gray-600;
  @apply mt-1;
}

.content-header__title + .badge-list {
  @apply mt-2;
}

.content-header__subtitle + .badge-list {
  @apply mt-3;
}

.heading {
  @apply font-semibold;
  @apply leading-none;
  @apply mb-2;
  @apply mt-8;
}

.heading__optional-prefix {
  @apply text-gray-400;
}

.heading__step-number-prefix {
}

.heading-1 {
  @apply text-3xl;
}

.heading-2 {
  @apply text-2xl;
}

.heading-3 {
  @apply text-xl;
}

.heading-4 {
  @apply text-lg;
}

.paragraph {
  @apply leading-relaxed;
  @apply mb-2;
}

.alert {
  @apply flex;
  @apply p-4;
  @apply text-sm;
  @apply md:rounded;
}

.alert__icon {
  @apply items-center;
  @apply pr-4;
  @apply hidden;
  @apply md:flex;
}

.alert__body {
  @apply flex;
  @apply items-center;
}

.alert__title {
  @apply font-bold;
  @apply mb-1;
}

.alert__content .paragraph:last-of-type {
  @apply mb-0;
}

.alert__note {
  @apply text-blue-900;
  @apply bg-blue-100;
}

.alert__note .link {
  @apply text-blue-600;
}

.alert__tip {
  @apply text-green-900;
  @apply bg-green-100;
}

.alert__tip .link {
  @apply text-green-600;
}

.alert__warning {
  @apply text-yellow-900;
  @apply bg-yellow-100;
}

.alert__warning .link {
  @apply text-yellow-600;
}

.alert__danger {
  @apply text-red-900;
  @apply bg-red-100;
}

.alert__danger .link {
  @apply text-red-600;
}

.content-body .alert {
  @apply my-4;
}

.link {
  @apply underline;
  @apply text-blue-600;
  @apply hover:no-underline;
}

.link--broken {
  @apply text-red-500;
}

.unordered-list {
  @apply ml-8;
  @apply my-4;
}

.unordered-list .list-item {
  @apply list-disc;
}

.list-item {
  @apply my-1;
}

.code {
  @apply font-mono;
  @apply text-sm;
  @apply inline-block;
  @apply bg-gray-100;
  @apply p-1;
  @apply leading-none;
}

.code-block {
  @apply my-4;
  @apply rounded;
  @apply font-mono;
  @apply text-xs;
  @apply p-4;
  @apply bg-gray-800;
  @apply text-white;
  @apply leading-loose;
}

.code-block-preview {
  @apply bg-gray-100;
  @apply p-4;
  @apply rounded-t;
}

.code-block-preview + .code-block {
  @apply rounded-t-none;
  @apply mt-0;
}

.react-tabs {
  -webkit-tap-highlight-color: transparent;
}

.react-tabs .code-block {
  @apply mt-0;
  @apply rounded-t-none;
}

.react-tabs__tab-list {
  @apply text-sm;
  @apply leading-none;
}

.react-tabs__tab {
  @apply inline-block;
  @apply px-6 py-4;
}

.react-tabs__tab:hover {
  @apply cursor-pointer;
}

.react-tabs__tab--selected {
  @apply bg-gray-800;
  @apply text-white;
  @apply rounded-t;
}

.react-tabs__tab--disabled {
  color: GrayText;
  cursor: default;
}

.react-tabs__tab:focus {
  box-shadow: 0 0 5px hsl(208, 99%, 50%);
  border-color: hsl(208, 99%, 50%);
  outline: none;
}

.react-tabs__tab:focus:after {
  content: "";
  position: absolute;
  height: 5px;
  left: -4px;
  right: -4px;
  bottom: -5px;
  background: #fff;
}

.react-tabs__tab-panel {
  display: none;
}

.react-tabs__tab-panel--selected {
  display: block;
}

.collapsible-section__title {
  @apply bg-gray-100;
  @apply rounded;
  @apply p-2;
}

.collapsible-section__body {
  @apply p-2;
}

.kbd {
  @apply font-mono;
  @apply inline-block;
  @apply bg-white;
  @apply p-2;
  @apply leading-none;
  @apply rounded;
  @apply border;
  @apply bg-gradient-to-b from-white to-gray-100;
}

.kbd--text {
  @apply text-xs;
}

.kbd--icon {
  @apply text-sm;
}

.kbd-container + .kbd-container:before {
  @apply px-2;
  content: "+";
}

.table-of-contents__title {
  @apply uppercase;
  @apply font-semibold;
  @apply text-xs;
  @apply mb-2;
  @apply text-gray-600;
}

.table-of-contents__item {
  @apply mb-2;
  @apply text-sm;
}

.table-of-contents__item:last-of-type {
  @apply mb-0;
}

.table-of-contents__link {
  @apply text-gray-800;
  @apply transition-all;
  @apply opacity-50;
  @apply hover:opacity-100;
}

.table-of-contents__link--active {
  @apply text-blue-600;
  @apply opacity-100;
}

.navbar {
  @apply flex;
  @apply justify-between;
  @apply border-gray-200;
  @apply border-b;
}

.navbar__icon {
  @apply h-4;
  @apply w-4;
}

.navbar__icon-wrapper {
  @apply p-3;
  @apply m-1;
  @apply rounded-md;
  @apply md:hidden;
}

.navbar__logo {
  @apply text-center;
  @apply p-4;
}

.mobile-menu {
  @apply absolute;
  @apply w-full;
  @apply h-screen;
  @apply fixed;
  @apply bg-white;
}

.mobile-menu__close-icon {
  @apply h-6;
  @apply w-6;
}

.mobile-menu__header {
  @apply flex;
  @apply border-b;
  @apply justify-end;
}

.mobile-menu__close-button {
  @apply p-4;
  @apply flex;
}

.mobile-menu__content {
  @apply w-full;
}

.mobile-menu__search {
}

.mobile-menu__search-input {
  @apply border-b;
  @apply w-full;
  @apply p-4;
  @apply rounded-none;
  @apply outline-none;
  @apply ring-0;
}

.mobile-menu__items {
  @apply text-center;
  @apply mt-8;
}

.mobile-menu--search-has-focus .mobile-menu__items {
  @apply hidden;
}

.mobile-menu__item {
  @apply text-xl;
  @apply mb-4;
}

.desktop-menu {
  @apply hidden;
  @apply items-center;
  @apply md:block;
}

.desktop-menu__content {
  @apply flex;
}

.desktop-menu__items {
  @apply flex;
}

.desktop-menu__close-button {
  @apply hidden;
}

.search-results {
  @apply p-8;
  @apply text-center;
}

.sidebar {
  @apply antialiased;
  @apply p-4;
}

.sidebar-item {
  @apply text-sm;
  @apply leading-loose;
  @apply select-none;
  @apply list-none;
}

.external-sidebar-item__link {
  @apply flex;
  @apply items-center;
  @apply place-content-between;
}

.group-sidebar-item__link {
  @apply flex;
  @apply items-center;
  @apply place-content-between;
}

.group-sidebar-item__icon {
  @apply h-4;
  @apply w-4;
  @apply text-gray-600;
}

.group-sidebar-item--depth-0 > .group-sidebar-item__label {
  @apply font-bold;
}

.group-sidebar-item--depth-0 > .group-sidebar-item__children {
  @apply mb-6;
}

.group-sidebar-item--depth-1 > .group-sidebar-item__children {
  @apply ml-2;
}

.external-sidebar_item__icon {
  @apply h-4;
  @apply w-4;
  @apply text-gray-600;
}

.sidebar-item__link {
  @apply text-gray-600;
}
